<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Preon avatars</title>
    <meta name="description" content="Preons avatars" />
    <meta name="author" content="Gemma Black" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@200;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/preons/dist/reset.css" rel="stylesheet" />
    <link href="https://unpkg.com/preons/dist/preons.css" rel="stylesheet" />
  </head>

  <body>
    <div class="pa1 ff-raleway fwn fs1 df wrap black">
      <h3 class="pa2 fs2 tu w-100">
        Square ratio
      </h3>
      <div class="ma2">
        <img 
          class="br5 w8 h8"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br-50 w8 h8"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="pa1 bg-grey br5 ma1">
        <img 
          class="br5 w8 h8"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="pa1 bg-mustard br5 ma1">
        <img 
          class="br5 w8 h8"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="pa1 bg-grey-dark br5 ma1">
        <img 
          class="br5 w8 h8"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8 bwa2 bsa-solid bca-hotpink"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8 bwa2 bsa-solid bca-mustard"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8 bwa2 bsa-solid bca-grey-dark"
          src="https://images.unsplash.com/photo-1585602173562-e7eeb0e6f380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" />
      </div>
      <h3 class="pa2 fs2 tu w-100">
        Non-square ratio
      </h3>

      <div class="ma2">
        <img 
          class="br5 w8 h8 of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8 of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br-50 w8 h8 of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="pa1 bg-grey br5 ma1">
        <img 
          class="br5 w8 h8 of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="pa1 bg-mustard br5 ma1">
        <img 
          class="br5 w8 h8 of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="pa1 bg-grey-dark br5 ma1">
        <img 
          class="br5 w8 h8 of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8 bwa2 bsa-solid bca-hotpink of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8 bwa2 bsa-solid bca-mustard of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
      <div class="ma2">
        <img 
          class="br5 w8 h8 bwa2 bsa-solid bca-grey-dark of-cover"
          src="https://images.unsplash.com/photo-1520341280432-4749d4d7bcf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" />
      </div>
    </div>
  </body>
</html>
